@import "layout.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.dash_container {
  display: flex;
  align-items: flex-start;
}

.field {
  label{
    display: block;
    &.label-field {
      font-weight: bold;
    }
  }

  input {
    display:block;
    height: 45px;
    line-height: 45px;
    margin-bottom:10px;
    border-radius: 3px;
    box-sizing: border-box;
  }
}

.field-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  div {
    + div {
      padding-left: 20px;
    }
  }
}